main.startPage {
  min-height: 100%;
  padding: 16px 0 0 0;
  display: flex;
  align-items: center;

  .ui.container {
    height: 100%!important;
    width: 100%!important;
  }

  .customFileUpload {
    text-align: center;
  }

  .results {
    .result {
      .price {
        display:none;
      }
    }
  }

  .ui.large.fluid.search {
    .input {
      width:70%;
    }
  }
}