.spacer {
  height: 84px;

  &.compact {
    height: 84px;
  }

  &.supercompact {
    height: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .spacer {
    height: 77px;

    &.compact {
      height: 67px;
    }

    &.supercompact {
      height: 67px;
    }
  }
}