.spacer {
  height: 84px;
  // background-color: greenyellow;
  &.compact {
    height: 84px;
  }
}

@media only screen and (max-width: 600px) {
  .spacer {
    height: 77px;

    &.compact {
      height: 67px;
    }
  }
}