/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// Disable text selection for small devices (like an app)
@media only screen and (max-width:700px) {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    user-select: none;
  }
}

.selectableText {
  user-select: text;
}

/* Custom App Styles */

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

#root {
  height: 100%;
  background-color: #f7f7f7;
}

.appLoadingIcon {
  position: fixed;
  z-index: 9;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.verifiedIcon {
  margin: 0px!important;
  display: contents!important;
  &::before{
    font-size: 14px;
  }
}

.ui.search {
  .results {
    .price {
      font-size: 8px;
    }
  }
}

#headerDesktop {
  .ui.icon.input {
    input {
      background-color: transparent;
      border-radius: 0;
      outline: none;
      color: white;

      &:hover {
        // border: none;
        color: white;
      }
      &:focus {
        border-color: transparent;
      }
    }
    i {
      color: white;
    }
  }
}

.carousel.flickity-enabled {
  overflow: hidden;
  &:focus {
    outline: 0;
    border: 0;
  }
}

.flickity-viewport {
  &:focus {
    outline: 0;
    border: 0;
  }
}

/* Fonts */

@font-face {
  font-family: 'Baloo';
  src: url('../assets/fonts/Baloo-Regular.ttf') format('truetype');
  font-weight: 300;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Custom Semantic UI styles */

.ui.header, .ui.button { 
  font-family: 'Poppins', sans-serif!important;
  font-weight: 600!important;
}

.ui.form .field>label {
  font-weight: 600!important;
}

@media only screen and (max-width:767px) {
  .ui.container { margin-left:0!important; margin-right:0!important}
  .ui.card{border-radius:0!important}
}

#headerDesktop {
  display:none;
}

#headerDesktop.ui.inverted.menu .item:before{
  background:0 0!important;
}

#headerDesktop .header:hover {
  background:0 0;
}

#headerDesktop .header img {
  width:5.5em;
}

@media only screen and (min-width:700px) {
  #headerMobile {display:none;}
  #headerDesktop{display:block;display:block;}
}

/* General */

.cardTitle {
  display: flex;
  justify-content: space-between;

  div:last-child {
    height: fit-content;
  }
}

.cpointer {
  cursor: pointer!important;
}