/* carousel friends */
.friends-carousel-cell{
  width: 93px;
  height: 110px;
  padding: 0px 0px;
  margin-right: 0px;
  counter-increment: gallery-cell;
  text-align: left;
}

.friends-carousel-cell {
  h5 {
    width: 83%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 99%;
      font-weight: 500;
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 601px) {
  .friends-carousel-cell {
    width: 100px!important;
    height: 110px!important;
    margin-right: 0px!important;
    padding: 0px 9px!important;

    h5 {
      width: 98%;
    }
  }
}

/* carousel projects */
.carousel-cell{
  width: 113px;
  height: 165px;
  padding: 0px 8px;
  margin-right: 3px;
  counter-increment: gallery-cell;
  text-align: left;

  h5 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 601px) {
  .carousel-cell {
    width: 113px!important;
    height: 172px!important;
    margin-right: 0px!important;
    padding: 0px 9px!important;
  }
}

.carousel-cell {
  h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 99%;

      .sub.header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      } 
    }
  }
}

h2 {
  font-size: 1.5rem!important;
}

h2.ui.header .sub.header {
  font-size: 1rem!important;
}

.ui.card {
  border-radius: 13px;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,.1);
}