main.landingPage {
  background-image: url(../../assets/img/heros/male-singer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  padding: 16px 0 0 0;

  h1 {
    color: #FFF;
    font-family: 'Baloo';
    font-size: 32px;
  }

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .action {
      padding: 8px 0 0 0;

    }
  }

  section#cta {
    margin: 160px 0 0 0;
    @media only screen and (min-width: 600px) {
      margin: 240px 0 0 0;
    }

    h2 {
      font-weight: 400!important;
      margin: 0 0 36px 0!important;
    }
  }

  footer {
    position: absolute; 
    bottom: 0px;
    width: 100%;
  }
}